# 2. Pandas

<img src="img/pandas_logo.png" height=60% width=60%>

Content:
- 2.1 Introduction
- 2.2 Installation
- 2.3 Series
- 2.4 DataFrames
- 2.5 Import files
- 2.6 Summary

## 2.1 Introduction

Pandas is a Python library that allows us to easily manipulate data. It is considered the de-facto standard to read, analyze and visualize tabular data from CSV files, Excel tables, SQL tables and many more.

Pandas has three main data structures: 
- Series: a 1D array
- DataFrame: a 2D table
- Panel: a 3D array (not discussed here)

Although the main data structure for tables is called a DataFrame, it is important to understand that it is built as a combination of Series. Generally, however, we will talk about the index (rows) and the columns.  

<img src="img/pandas-df.png" height=70% width=70%>

There are a lot of comparisons that can be drawn between pandas and the R language. So if you have experience in R [this website](https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_r.html) might give you an interesting comparison between both.

## 2.2 Installation

There are a couple of ways to install pandas (or any other library). 
- In the Environments section of Anaconda Navigator and manually selecting the package, 
- Installing in the Conda environment: `conda install -c conda-forge pandas`, 
- Installing in the Jupyter Notebook: `pip install pandas`

In [ ]:
pip install pandas

The above will result in an effective installation, or might tell you that the requirements are already satisfied. You might want to refresh your Notebook for the changes to take place. 

After installing the library, we still have to import it in our Notebook:

In [ ]:
# Importing pandas as pd is a convention
import pandas as pd

## 2.3 Series

We will start by creating a one dimensional array which is the equivalent of a pandas Series. The data that we gather in this array is the data that will make up for a column in our table later on. 
- The data can be of any kind: integers, strings, floats, Python objects, etc. 
- The data is always accompanied by an index

<img src="img/series.PNG" width="300" height="200"/>  

Source: [berbagaidata.blogspot.com](https://berbagaidata.blogspot.com/2019/05/python-for-data-analysis-data-wrangling_17.html)


There are several ways to **create a Series**: from a list, a dictionary, a NumPy array and from files and other external data sources. Let's make our first pandas object starting from an ordinary Python list:

In [ ]:
# Create pandas Series from list
counts = [12, 35, 45, 12, 22, 38]

countSeries = pd.Series(counts)
type(countSeries)

In [ ]:
# Create pandas Series from tuple
genes = ('GeneA', 'GeneB', 'GeneC', 'GeneD', 'GeneE', 'GeneF')

genesSeries = pd.Series(genes)
genesSeries

It looks like we already have a table, however the first column is actually the index and the second column contains the data. If the **index** is not specified upon making the pandas Series, the default will be a scalar value ranging from 0 uptill the length of the array -1. 

*`range(n) where n is array length, i.e., [0,1,2,3…. len(array)-1].`*

The following code adds an index as an argument. It makes a Series where 
- the list of genes will be the index of the object, and 
- the list of counts will be the actual data in a column.

In [ ]:
mySerie1 = pd.Series(counts, index=genes)
mySerie1

A Series can also be made from a **dictionary**:

In [ ]:
# Create pandas Series from dictionary
aaDict = {
     'A': 'Ala',
     'C': 'Cys',
     'D': 'Asp',
     'E': 'Glu',
     'F': 'Phe',
     'G': 'Gly',
     'H': 'His',
     'I': 'Ile',
     'K': 'Lys',
     'L': 'Leu',
     'M': 'Met',
     'N': 'Asn',
     'P': 'Pro',
     'Q': 'Gln',
     'R': 'Arg',
     'S': 'Ser',
     'T': 'Thr',
     'V': 'Val',
     'W': 'Trp',
     'Y': 'Tyr'}

aaSeries = pd.Series(aaDict)
aaSeries

In this case the keys of the dictionary will be the indeces in the Series and the respective values will be the data values associated with these indeces.

Obviously mathematical operations can be performed on the complete dataset in a Series. These are called **vectorized operations** as the operation will be applied to each element in the Series

In [ ]:
countSeries

In [ ]:
# Vectorized operations 
countSeries + 2

In [ ]:
# Vectorized operations 
countSeries * 2

It is also possible to apply functions on a pandas Series. Here are two examples:

In [ ]:
# Apply pandas functions 
countSeries.mean()
countSeries.sum()

Which Python built-in function can you use to list all functions applicable on pandas Series?

---
### Exercise 2.3.1 

Use one of pandas Series functions to add the following data to the `mySerie1` pandas Series object as a new row:

```
GeneK   25
```

---

Finally retrieving an element is easily done with squared brackets, similarly to accessing elements from a data structures in Python.

In [ ]:
# Accessing a single element in pandas Series
mySerie1['GeneA']

In [ ]:
# Accessing multiple values in a pandas Series object
mySerie1[['GeneA', 'GeneC', 'GeneF']]

In [ ]:
# Accessing multiple values in a pandas Series object
mySerie1[:2] # 0,1

## 2.4 DataFrame
The pandas DataFrame is a two-dimensional data structure, essentially it's a combination of two or more Series objects: 


<img src="img/series-and-dataframe.PNG" width="550" height="200"/>  

Source: [berbagaidata.blogspot.com](https://berbagaidata.blogspot.com/2019/05/python-for-data-analysis-data-wrangling_17.html)



DataFrames consist of row indeces and column indeces with the data in the columns as visually depicted in the following table.  

|  /   | **column_index1** | **column_index2**   |
|---|---|---|
| **row_index1**   | 1  | 2  |   
| **row_index2**  |  3 | 4  |   
| **row_index3**  |  5 | 6  |

Similar to Series, **a DataFrame can be created in several ways**: from lists, dictionaries, or Series. We will cover several possibilities here below, however, the most important one is probably from importing a dataset from a file (section 2.5). 

First we'll create a DataFrame from a **dictionary** where the key is the column index and the value is a list of values that represent the data.

In [ ]:
help(pd.Series)

In [ ]:
help(pd.DataFrame)

In [ ]:
counts_exp1 = [12, 35, 45, 12, 22, 38]
counts_exp2 = [6, 28, 55, 12, 19, 34]
genes = ['GeneA', 'GeneB', 'GeneC', 'GeneD', 'GeneE', 'GeneF']

# Dictionary with key = column index, and values = data values
dataframe_dict = {'counts_exp1': counts_exp1, 'counts_exp2': counts_exp2}

# Dictionary with values and list of indeces
df = pd.DataFrame(dataframe_dict, index = genes)
df

We can **inspect** the DataFrame we just created:

In [ ]:
print(df.columns)
print(df.index)
print(df.values)

In [ ]:
# First three rows
df.head(3)

In [ ]:
# Last five rows
df.tail()

Before exploring how to access rows, columns and elements from a table, let's have a look at how we can **add new data or delete a column** from a table.

In [ ]:
# Make new column with new data, similar to adding data to dictionaries
df['counts_exp3'] = [23, 24, 58, 16, 8, 5]
df

In [ ]:
# Alternatively, using the insert method
df.insert(loc = 1, column = "counts_exp4", value = [3, 4, 35, 16, 42, 11], allow_duplicates = False)
df

In [ ]:
# Deleting a column in two ways
# del df['counts_exp4']
# or
df.drop('counts_exp4', axis = 1, inplace=True)
df

In [ ]:
# Add new row data
dict_row = {'counts_exp1': 1, 'counts_exp2': 2, 'counts_exp3': 3} 

# Will ruin the row indeces:
#df = df.append(df_row, ignore_index = True) 

# First create Series
new_row = pd.Series(data = dict_row, name='GeneX')
# Append row to the dataframe, ignore index is False as we want to keep our indeces
df = df.append(new_row, ignore_index=False)

df

*Remark: iteratively appending rows to a DataFrame can be more computationally intensive than a single concatenate. A better solution is to append those rows to a list and then concatenate the list with the original DataFrame all at once.*

**Accessing** data is done by calling the index name of the column within squared brackets. 
Remember that Python starts counting from 0 and it excludes the last number.

In [ ]:
# Accessing the column counts_exp1
df['counts_exp1']

In [ ]:
# Accessing multiple columns 
df[['counts_exp1', 'counts_exp2']]

In [ ]:
# Accessing values within a column: rows from 2 to 3. 
#df['counts_exp1'][1:3]

# Which is the same as:
df[1:3]['counts_exp1']

In [ ]:
# Accessing all columns from rows 2 to 4
df[1:5]

Another way of accessing the data in a Dataframe is by using the `.loc[]` and `iloc[]` method. 
- `.loc[]`: uses primarily label(s) to access the data,
- `.iloc[]`: uses purely integer-location based indexing for selection by position.

**`.loc[]`** accepts the row index as a first and default parameter, if a second parameter is given, this should refer to the column index. An elaborate explanation of the possibilities with the location method is available [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html).

In [ ]:
# Select one row with single label
df.loc['GeneE']

In [ ]:
# Select multiple rows with list of labels
df.loc[['GeneD', 'GeneE']]

In [ ]:
# Select multiple rows with slice object
df.loc['GeneC':'GeneE']

In [ ]:
df.loc['GeneC', 'counts_exp2']

In [ ]:
# Accessing multiple rows from a dataset
selected_genes = ['GeneA', 'GeneB' ,'GeneC', 'GeneF']
df.loc[selected_genes]

In [ ]:
# Accessing multiple rows and a subselection of columns by passing two parameters to .loc[]
selected_counts = ['counts_exp1', 'counts_exp2']
df.loc[selected_genes, selected_counts]

Another way of slicing our dataset is by using `.iloc[]`. An elaborate explanation of the possibilities with the location method is available [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html). Try the following, can you figure out how this method works?

In [ ]:
df.iloc[0]
df.iloc[[0]]
df.iloc[[1,2,3],[0,2]]

In [ ]:
df.iloc[:, 0]

As a final suggestion, the [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) can be very helpful for remembering `pandas` operations.

---
### Exercise 2.4.1
Start with the dataframe defined below and:
- Select the number of counts in *GeneD* for the second and third experiment. 
- Add a new column to the dataframe with the average of the three experiments.

In [ ]:
# Data
counts_exp1 = [12, 35, 45, 12, 22, 38]
counts_exp2 = [6, 28, 55, 12, 19, 34]
counts_exp3 = [23, 24, 58, 16, 8, 5]
genes = ['GeneA', 'GeneB', 'GeneC', 'GeneD', 'GeneE', 'GeneF']

# Dictionary with key = column index, and values = data values
dataframe_dict = {'counts_exp1': counts_exp1, 'counts_exp2': counts_exp2, 'counts_exp3': counts_exp3}

# Dictionary with values and list of indeces
df = pd.DataFrame(dataframe_dict, index = genes)
df

---
### Exercise 2.4.2
Start with the same dataframe as we used earlier.
- Search in the pandas documentation for the median method and add a column that describes the median countvalues per gene.
- Search in the pandas documentation for a method that will count all of the values of one experiment and add it as an extra row to the table. 
- Remove the row with the sum of the counts that we added in the previous step.

---

## 2.5 File I/O
Now we know how to parse through our Dataframe tables and manipulate the data, we'll have a look at how to import data from files. Pandas is great for working with tabular data, hence generally the data will come from a spreadsheet (csv, excel, tab-separated txt files, etc.). There are plenty of possibilities hence we refer to the [pandas documentation regarding file I/O](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html). 

Importing data is done by referring to a local file explicitly. This file can be in your local folder, or can be imported from the internet. 

The following file contains data of an experiment that detects occurrences of methylated cytosines. After some data analysis we obtain the following table with - per chromosome - the distribution of methylated cytosines in different regions of the gene.

In [ ]:
# metagenic classification file in the data folder - csv
metagenic_csv = pd.read_csv('data/metagenic.csv')
metagenic_csv.head()

An overview of all the parameters that `.read_csv` accepts, is accessible on the pandas documentation website ([here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)).

---
### Exercise 2.5.1 - A
Search for the parameters of `.read_csv` that you need in order to read in the `metagenic.csv` file where:
- chromosomes are the index of the rows, and 
- only the first 10 rows are imported.

---

### Exercise 2.5.1 - B
Import the data from the `metagenic.csv` file and add a new column with the total counts for each chromosome (e.g. chromosome 21 has 88 counts), and sort the table by descending total counts per chromosome.

---

In the following code block we will read in the more widely known, iris dataset. In this case, we're downloading and importing it immediately from a GitHub repository accessible via the given link below. In the next chapter we will see that it is part of the Seaborn visualization library though.

In [ ]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
iris.head()

To have an idea on the descriptive statistics and the shape of the dataset's distribution, we can use `.describe()`. This method can be applied on the table (numerical data only) or on a selection of the columns:

In [ ]:
iris.describe()

In [ ]:
iris['sepal_length'].describe()

However, in this dataset we're facing different kinds of data:
- numerical data (sepal_length, sepal_width, petal_length and petal_width)
- categorical data (species)

and therefore need to be treated differently. Luckily, pandas allows us to do this in a very easy way:

In [ ]:
# Inspect datatypes of the columns:
iris.dtypes

In [ ]:
# Convert the species column to categorical data explicitly
iris['species'] = iris['species'].astype('category')
iris.dtypes

In [ ]:
# Count occurrences of the categorical data
iris['species'].value_counts()

In [ ]:
# Get unique values within a column
iris['species'].unique()

In [ ]:
iris['species'].unique()

In [ ]:
# Normalize the counted occurrences of the categorical data
iris['species'].value_counts(normalize=True)

In [ ]:
# Grouping data & use mathematical operation to summarize the data
iris.groupby(['species']).mean()

In [ ]:
# Alternatively
iris.groupby(by='species').mean()

In [ ]:
# Extract the row/data from versicolor species. 
iris.loc[iris['species'] == 'versicolor']

#iris.loc[iris['species'] == 'versicolor']

---
### Exercise 2.5.2 
Can you find a method that will retrieve the indices of all the virginica flowers?

---
### Exercise 2.5.3
From the file `metagenic.csv`:
1. Sort the table based on the counts in exons in descending way  
2. Make a subselection of chromosomes with at least 15 counts in introns.

---

### Exercise 2.5.4

For this exercise we will use [this dataset](https://datahub.io/core/pharmaceutical-drug-spending) which contains the spendings of a bunch of countries in the pharmaceutical industry as from 1971. The dataset is available in the data folder as `pharmaspending.csv`. 

Make a subselection of this dataset that contains the data for Belgium and its neigbhouring countries France, Germany and the Netherlands. Furthermore, we're only interested in the data starting from the year 2000.

---
### Exercise 2.5.5 
In this exercise, derived from the [GTN](https://galaxyproject.github.io/training-material/topics/transcriptomics/tutorials/rna-seq-viz-with-heatmap2/tutorial.html), we will prepare the data to create a heatmap (see exercise 3.2.6) of the top differentially expressed genes in an RNA-seq counts dataset. 
- [`counts`](https://zenodo.org/record/2529926/files/limma-voom_normalised_counts)
- [`de_genes`](https://zenodo.org/record/2529926/files/limma-voom_luminalpregnant-luminallactate)  

The latter file contains the results from comparing gene expression in the luminal cells in the pregnant versus lactating mice. It includes genes that are not significantly differentially expressed. We’ll call genes significantly differentially expressed in this dataset if they pass the thresholds of `P-value < 0.01` and `fold change of > 1.5 (log2FC of 0.58)`. Filter the top 20 DE genes from that table and create a joint dataframe that contains only the following columns and looks like this:

| SYMBOL_x |  MCL1.DG |  MCL1.DH |  MCL1.DI |  MCL1.DJ |   MCL1.DK |   MCL1.DL |  MCL1.LA |  MCL1.LB |  MCL1.LC |  MCL1.LD |  MCL1.LE |  MCL1.LF |
|---------:|---------:|---------:|---------:|---------:|----------:|----------:|---------:|---------:|---------:|---------:|---------:|----------|
|     Ggt1 | 6.732347 | 6.556047 | 6.558849 | 6.586562 |  6.437596 |  6.394067 | 5.193118 | 5.526432 | 4.223990 | 4.341605 | 7.243899 | 7.354535 |
|  Slc39a4 | 2.722153 | 3.027691 | 2.175532 | 1.993214 | -0.193255 | -0.016902 | 3.071502 | 2.928202 | 6.472918 | 6.526836 | 2.430346 | 1.847241 |
|      Ppl | 5.102274 | 4.900942 | 5.755087 | 5.951023 |  6.851420 |  6.881858 | 7.359977 | 7.732010 | 8.227118 | 8.437499 | 4.646145 | 4.798986 |
| ...   |     ...     |      ...    |   ...       |        ...  |    ...       |         ...  |       ...  |        ...   |      ...    |      ...    |       ...   |       ...   |

Save the file as a csv-file in the data-folder. You can use the lay-out given below:

In [ ]:
# Import data

# Set filters
p_adj_lim = 0.01
logFC_lim = 0.58

# Filter the non-significantly differentially expressed genes out

# Sort the remaining significantly expressed genes (highest DE genes on top)

# Filter the top 20 DE genes

# Create dataframe for heatmap that is a joined dataframe of the two imported data files

# Make a subselection of the columns (genes and DE, see the df above)

# Set the names of the genes as the row index

# Store the dataframe in a csv file for later usage.

## 2.6 Summary
We've seen a bunch of methods on how we can read and manipulate data with pandas. As it is such a huge library, we could still spend tons of time discovering all the modules, however now you should be able to come up with solutions tailored to a specific question. Either by using the pandas documentation (recommended) or by searching on Stackoverflow or any other forum.

## 2.7 Next session
Explore how to visualize your data in the [next chapter](03_Visualization.ipynb)!